<link rel="stylesheet" href="/css/jquery.dataTables.min.css">
<div class="container">
    <a href="/customer/datatables">DataTables</a>
    
    <table class="table table-warning table-bordered mt-3" id="tbl">
        <thead class="table-dark">
            <tr>
                <th>Id</th>
                <th>Firstname</th>
                <th>Lastnamme</th>
                <th>Email</th>
                <th>Tel</th>
                <th>Street</th>
                <th>City</th>
                <th>State</th>
                <th>Zip code</th>
            </tr>
        </thead>
        <tbody id="sheet">
            {{#each arrCustomers}}
                <tr>                    
                    <td>{{this.id}}</td>
                    <td>{{this.fn}}</td>
                    <td>{{this.ln}}</td>
                    <td>{{this.eml}}</td>
                    <td>{{this.tel}}</td>
                    <td>{{this.strt}}</td>
                    <td>{{this.cty}}</td>
                    <td>{{this.stat}}</td>
                    <td>{{this.zipc}}</td>
                </tr>
            {{/each}}
        </tbody>
    </table>
</div>

<script src="/js/jquery.dataTables.min.js"></script>
<script>
    $(tbl).DataTable();
</script>
<script>
    $(tbl_wrapper).find('label').css('color', 'white');
    $(tbl_wrapper).find('input').css('color', 'white');
    $(tbl_wrapper).find('select').css('color', 'white');
</script>

